h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_64f37254 a { text-decoration: none; }
#menu_64f37254_pane { background-color: #E0E6EC; border: 1px solid #E0E6EC; padding-top: 50px; padding-bottom: 50px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_64f37254_hr { background-color: #E0E6EC; height: 1px; border: none; }
#menu_64f37254_entry { padding-left: 50px; padding-right: 50px; padding-top: 10px; padding-bottom: 10px; }
#menu_64f37254_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_64f37254_entry:hover span { color:#FFFFFF !important; }
		.menu_64f37254_mainMenuEntry { text-align: center; }
		.menu_64f37254_mainMenuEntry:hover {	background-color:#282828; }
		.menu_64f37254_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_64f37254 .mobileEntry { display: none; } 
		#menu_64f37254 .normalEntry { display: block; } 
		@media only screen and (max-width:600px) { 
			#menu_64f37254 .mobileEntry { display: block; } 
			#menu_64f37254 .normalEntry { display: none; } 
		}
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_1b166e26 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:63px; background-color:#E0E6EC; border-top: none; border-left: none; border-right: none; border-bottom: 2px solid #000040;  }
#container_1b166e26_padding { margin: 10px; display: block;  }
#placeh_21c46e0d { vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:724px;  }
#text_3eca7aab { position:absolute; left:38%; top:3%; background:none;  }
.textstyle2 { font-size:32pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#text_25c634d8 { position:absolute; left:7%; top:22%; background:none;  }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#text_170f5b97 { position:absolute; left:69%; top:24%; background:none;  }
#text_3198ceaa { position:absolute; left:35%; top:22%; background:none;  }
#text_31d6b3e8 { position:absolute; left:33%; top:37%; width:336px; height:90px; background:none;  }
#text_71ad055a { position:absolute; left:65%; top:36%; background:none;  }
#text_177c2b57 { position:absolute; left:7%; top:37%; width:339px; height:98px; background:none;  }
#container_6762d277 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:90px; background-color:#F2E2DE;  }
#container_6762d277_padding { margin: 10px; display: block;  }
#heading_892ebb7 { position:absolute; left:43%; top:39%; background:none; font-size:28pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left; font-weight:bold;  }
#container_7a1f4ea1 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:403px; background-color:#F2E2DE;  }
#container_7a1f4ea1_padding { margin: 10px; display: block;  }
#container_38f1d0e3 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:371px; background:none;  }
#container_38f1d0e3_padding { margin: 10px; display: block;  }
#container_50ba6291 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:184px; background:none;  }
#container_50ba6291_padding { margin: 10px; display: block;  }
#img_7adcf17b { border-radius: 70px; position:absolute; left:20%; top:4%; width:54%; background:none; height:auto;  }
#container_75690335 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:250px; background:none;  }
#container_75690335_padding { margin: 10px; display: block;  }
#heading_389f94e9 { position:absolute; left:10%; top:17%; width:362px; background:none; font-size:18pt; font-family:Candara, Optima, 'Noto Sans', source-sans-pro, sans-serif; color:#000000; text-align:center;  }
#text_313f930 { position:absolute; left:8%; top:56%; width:366px; height:90px; background:none;  }
.textstyle4 { text-align:center; }
.textstyle5 { font-size:14pt; font-family:Candara, Optima, 'Noto Sans', source-sans-pro, sans-serif; color:#000000;  }
#button_ceecfd3 { position:absolute; left:3%; top:2%; width:411px; height:422px; background:none;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
#container_238e9b4d { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:370px; background:none;  }
#container_238e9b4d_padding { margin: 10px; display: block;  }
#container_3ef7e28a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:185px; background:none;  }
#container_3ef7e28a_padding { margin: 10px; display: block;  }
#img_261262a { border-radius: 70px; position:absolute; left:26%; top:23px; width:48%; background:none; height:auto;  }
#container_58465b21 { vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:251px; background:none;  }
#container_58465b21_padding { margin: 10px; display: block;  }
#heading_fb7d91b { position:absolute; left:7%; top:17%; width:378px; background:none; font-size:18pt; font-family:Candara, Optima, 'Noto Sans', source-sans-pro, sans-serif; color:#000000; text-align:center;  }
#text_28553e3e { position:absolute; left:10%; top:55%; width:349px; height:46px; background:none;  }
#button_70954eb3 { position:absolute; left:3%; top:3%; width:411px; height:422px; background:none;  }
#container_12077a6 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:373px; background:none;  }
#container_12077a6_padding { margin: 10px; display: block;  }
#container_52bab2b0 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:187px; background:none; border-top: none; border-left: none; border-right: none; border-bottom: none;  }
#container_52bab2b0_padding { margin: 10px; display: block;  }
#img_149edc9c { border-radius: 70px; position:absolute; left:27%; top:10%; width:46%; background:none; height:auto;  }
#container_11886076 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:242px; background:none;  }
#container_11886076_padding { margin: 10px; display: block;  }
#heading_6199f115 { position:absolute; left:34%; top:20%; background:none; font-size:18pt; font-family:Candara, Optima, 'Noto Sans', source-sans-pro, sans-serif; color:#000000; text-align:left;  }
#text_32a9e224 { position:absolute; left:21%; top:47%; width:270px; height:19px; background:none;  }
#button_70e60e76 { position:absolute; left:2%; top:2%; width:411px; height:422px; background:none;  }
#container_78abf229 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:260px; background-color:#E0E6EC; background-position:top left; background-size:cover;  }
#container_78abf229_padding { margin: 10px; display: block;  }
#text_23e9de1e { position:absolute; left:16%; top:8%; background:none;  }
.textstyle6 { font-size:28pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#text_7c6af539 { position:absolute; left:1%; top:100%; width:549px; height:21px; background:none;  }
.textstyle7 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
#text_2641576f { position:absolute; left:21%; top:43%; background:none;  }
#button_1ee82bd7 { border-radius: 5px; position:absolute; left:85%; top:57%; width:116px; height:41px; background-color:#C0C0C0; box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.784314);  }
#img_33e818a { position:absolute; left:7%; top:1%; width:12%; background:none; height:auto;  }
#menu_64f37254 { position:absolute; left:20%; top:1%; width:40%; height:37px; text-align:left; background-color:#E0E6EC;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:117px; height:37px; left:50px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:34px;  }
.textstyle8 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:147px; height:37px; left:50px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:21px;  }
.textstyle9 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  white-space: nowrap; }
.menustyle3 { position:absolute; width:182px; height:37px; left:197px;  }
.menustyle4 { position:absolute; width:151px; height:37px; left:379px;  }
.textstyle10 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#container_3bd38d17 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:68px; background-color:#E0E6EC; border-top: 2px solid #000040; border-left: none; border-right: none; border-bottom: none;  }
#container_3bd38d17_padding { margin: 10px; display: block;  }
#img_46b0c69c { position:absolute; left:9%; top:11%; width:13%; background:none; height:auto;  }
#text_7b66f638 { position:absolute; left:81%; top:10%; background:none;  }
#img_9e8f6cb { position:absolute; left:78%; top:10%; width:2%; background:none; height:auto;  }
@media only screen and (max-width: 600px)
{
		#container_38f1d0e3 { width:100%;  }
		#container_238e9b4d { width:100%;  }
		#container_12077a6 { width:100%;  }
}
