a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_64f37254 a { text-decoration: none; }
#menu_64f37254_pane { background-color: #E0E6EC; border: 1px solid #E0E6EC; padding-top: 50px; padding-bottom: 50px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_64f37254_hr { background-color: #E0E6EC; height: 1px; border: none; }
#menu_64f37254_entry { padding-left: 50px; padding-right: 50px; padding-top: 10px; padding-bottom: 10px; }
#menu_64f37254_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_64f37254_entry:hover span { color:#FFFFFF !important; }
		.menu_64f37254_mainMenuEntry { text-align: center; }
		.menu_64f37254_mainMenuEntry:hover {	background-color:#282828; }
		.menu_64f37254_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_64f37254 .mobileEntry { display: none; } 
		#menu_64f37254 .normalEntry { display: block; } 
		@media only screen and (max-width:600px) { 
			#menu_64f37254 .mobileEntry { display: block; } 
			#menu_64f37254 .normalEntry { display: none; } 
		}
body { background-color:#E0E6EC; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_1b166e26 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:63px; background-color:#E0E6EC; border-top: none; border-left: none; border-right: none; border-bottom: 2px solid #000040;  }
#container_1b166e26_padding { margin: 10px; display: block;  }
#img_33e818a { vertical-align: bottom; position:relative; display: inline-block; margin:0px 0px 0px 70px; background:none; height:auto;  }
#menu_64f37254 { vertical-align: bottom; position:relative; display: inline-block; margin:0px 0px 0px 10px; width:40%; height:37px; text-align:left; background-color:#E0E6EC;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:117px; height:37px; left:50px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:34px;  }
.textstyle2 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:147px; height:37px; left:50px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:21px;  }
.textstyle3 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  white-space: nowrap; }
.menustyle3 { position:absolute; width:182px; height:37px; left:197px;  }
.menustyle4 { position:absolute; width:151px; height:37px; left:379px;  }
.textstyle4 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
#placeh_21c46e0d { vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:78px;  }
#container_77363bda { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:648px; background-color:#F2E2DE;  }
#container_77363bda_padding { margin: 10px 10px 10px 70px; display: block;  }
.textstyle5 { text-align:center; }
#container_44bdc134 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:63px; background:none;  }
#container_44bdc134_padding { margin: 10px 10px 10px -20px; display: block;  }
.textstyle6 { font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle8 { font-size:14pt; font-family:Candara, Optima, 'Noto Sans', source-sans-pro, sans-serif; color:#000000; font-weight:bold;  }
.textstyle9 { font-size:14pt; font-family:Candara, Optima, 'Noto Sans', source-sans-pro, sans-serif; color:#000000;  }
.ulstyle1 { margin:0; font-size: 14pt; color:#000000;  }
#container_19319582 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:68px; background-color:#E0E6EC;  }
#container_19319582_padding { margin: 10px; display: block;  }
#container_30349247 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background:none;  }
#container_30349247_padding { margin: 10px 10px 10px 50px; display: block;  }
#container_63cd1fee { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#E0E6EC;  }
#container_63cd1fee_padding { margin: 10px; display: block;  }
#container_5828618c { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#E0E6EC; border-top: none; border-left: none; border-right: none; border-bottom: 1px solid #404040;  }
#container_5828618c_padding { margin: 10px; display: block;  }
#container_731bdc21 { vertical-align: top; position:relative; display: inline-block; width:80%; min-height:129px; background:none;  }
#container_731bdc21_padding { margin: 10px 10px 10px 60px; display: block;  }
#container_78c153f2 { vertical-align: top; position:relative; display: inline-block; width:20%; min-height:128px; background:none;  }
#container_78c153f2_padding { margin: 10px; display: block;  }
#button_5b6e5158 { box-sizing: border-box; border-radius: 5px; position:absolute; left:15%; top:4%; width:110px; height:40px; background-color:rgba(224, 230, 236, 0.498039); border: 2px solid #595959; box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.784314);  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
#button_213f923d { box-sizing: border-box; border-radius: 5px; position:absolute; left:15%; top:50%; width:110px; height:40px; background-color:rgba(224, 230, 236, 0.498039); border: 2px solid #595959; box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.784314);  }
#container_48a00df6 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none; border-top: none; border-left: none; border-right: none; border-bottom: 1px solid #404040;  }
#container_48a00df6_padding { margin: 10px; display: block;  }
#container_182db28 { vertical-align: top; position:relative; display: inline-block; width:80%; min-height:129px; background:none;  }
#container_182db28_padding { margin: 10px 10px 10px 60px; display: block;  }
#container_1619e76f { vertical-align: top; position:relative; display: inline-block; width:20%; min-height:128px; background:none;  }
#container_1619e76f_padding { margin: 10px; display: block;  }
#button_d849a08 { box-sizing: border-box; border-radius: 5px; position:absolute; left:15%; top:4%; width:110px; height:40px; background-color:rgba(224, 230, 236, 0.498039); border: 2px solid #595959; box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.784314);  }
#container_11d407bf { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none; border-top: none; border-left: none; border-right: none; border-bottom: 1px solid #404040;  }
#container_11d407bf_padding { margin: 10px; display: block;  }
#container_5af4cc17 { vertical-align: top; position:relative; display: inline-block; width:80%; min-height:129px; background:none;  }
#container_5af4cc17_padding { margin: 10px 10px 10px 60px; display: block;  }
#container_48740da6 { vertical-align: top; position:relative; display: inline-block; width:20%; min-height:128px; background:none;  }
#container_48740da6_padding { margin: 10px; display: block;  }
#button_4ae1bf1e { box-sizing: border-box; border-radius: 5px; position:absolute; left:15%; top:4%; width:110px; height:40px; background-color:rgba(224, 230, 236, 0.498039); border: 2px solid #595959; box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.784314);  }
#container_3bd38d17 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:68px; background-color:#E0E6EC; border-top: 2px solid #000040; border-left: none; border-right: none; border-bottom: none;  }
#container_3bd38d17_padding { margin: 10px; display: block;  }
#img_46b0c69c { vertical-align: bottom; position:relative; display: inline-block; margin:0px 0px 0px 70px; width:13%; background:none; height:auto;  }
@media only screen and (max-width: 400px)
{
		#container_731bdc21 { width:100%;  }
		#container_78c153f2 { width:100%;  }
		#container_182db28 { width:100%;  }
		#container_1619e76f { width:100%;  }
		#container_5af4cc17 { width:100%;  }
		#container_48740da6 { width:100%;  }
}
